body{
    background-image: url("../media/background-site.jpg");
}
h1{
    
    border: 4px solid #c2e9fb;
    font-family: 'Righteous', cursive;
    border-radius: 10px;
    padding: .6em;
    background-image: url("../media/cross_paramed.png");
    background-position: left, right;
    
    background-size: 7%;
    background-repeat: no-repeat;
    background-color: grey;
    @media screen and (max-width: 1200px){
        font-size: 1.8em;
    }
    @media screen and (max-width: 800px){
        background-size: 15%;
        font-size: 2em;
    }
    a{
        color: white;
        /*background: -webkit-linear-gradient(white,   #1b7ddb,white);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;*/

        @media screen and (max-width: 800px){
            font-size: .8em;
        }
        text-decoration: none;
        &:hover{
            text-decoration: none;
            color: white;
        }
    }
    img{
        @media screen and (max-width: 900px){
            width: 20%;
        }
    }
    .title-2{
        font-family: "Roboto"; 
        color: white;
        font-size: .5em; 
    }
}

ul li a{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: gray;
    .home_icon{
        vertical-align: text-top;
    }
   
}

.mail_icon{
    vertical-align: sub;
    margin-left: 50%;
}
.phone_icon{
    vertical-align: sub;
    margin-left: 20%;
}
.swiper-container{
    width: 70%;
    max-height: 100%;
    opacity: .8;
}


.bloc_send_mail{
    max-width: 380px;
    margin: auto;
}

#map{
    min-width: 100%;
}